.MuiSelect-select[aria-label="Without label"] {
    color: #8298A0;
    padding: 4px 14px;
    font-size: .7rem;
}

/* .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border-radius: 0px !important;
} */

.MuiSvgIcon-root {
    fill: #8298A0;
}

.MuiSvgIcon-root[type='icon-accordion'],
.MuiSvgIcon-root[type='icon-title'],
{
fill: #8298A0;
}

.MuiOutlinedInput-notchedOutline {
    border: 1px solid rgb(29, 29, 29) !important;
}

/* .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    border-radius: 0px;
} */

li.MuiButtonBase-root {
    font-size: .75rem;
}

.MuiPaper-root[type='accordion'] {
    background-color: transparent;
    box-shadow: none;
    color: white;
}

/* .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: transparent;
    box-shadow: none;
    color: white;
} */

.MuiAccordionSummary-root[type='accordion-summary'] {
    padding: 0;
    min-height: 0;
}



.MuiAccordionDetails-root[type='accordion-details'] {
    padding: 0px 16px;
}

.MuiAccordionSummary-content {
    margin: 0 !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    min-height: 0;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 0;
}

.MuiAccordionSummary-content.Mui-expanded {
    margin: 0 !important;
}

.MuiSvgIcon-root[name='pin-map'] {
    fill: #EA5A5A;
}

.MuiSvgIcon-root[name='pin-description'][type='address'] {
    fill: #72CDD2;
}

.MuiSvgIcon-root[name='pin-description'][type='website'] {
    fill: #92D72E;
}